$titlecolor: #191919;
$colortext: #7d7d7d;
$bordercolor: #dcdcdc;

.container, .buttonBox, .buttons{
  display: flex;
}
.container, .buttons{
  flex-direction: row;
}
.subtitle, .quantity, .singlePrice, .formItem{
  font-family: WorkSans;
}
.container{
  border-bottom: solid 1.3px #ececec;
  margin: 33px 62.3px 0 52px;
  padding-bottom: 32px;
  align-items: center;
}
.image{
  width: 131px;
  height: 131px;
  margin: 10px 38px 0 24px;
  align-self: flex-start;
  border-radius: 10px;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.11);
  &:hover{
    opacity: 0.8;
  }
}
.title{
  font-family: WorkSans-SemiBold;
  color: $titlecolor;
  font-size: 20px;
  line-height: 2.6;
}

.subtitle{
  max-width: 402px;
  color: $colortext;
  font-size: 16px;
  line-height: 1.56;
}

.line{
  width: 1px;
  height: 191px;
  margin-left: 64px;
  margin-right: 46px;
  background-color: rgba(43, 46, 64, 0.06);
}

.buttonBox{
  flex-direction: column;
  align-self: flex-start;
}

.buttons{
  margin-top: 46px;
  align-items: baseline;
}

.delete{
  width: 20px;
  height: 23px;
  margin-top: 5px;
  padding: 0;
  align-self: flex-end;
  background: transparent;
  border: none;
  opacity: 0.53;
  &img{
    width: 20px;
    height: 23px;
  }
  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}
.inc_dec{
  width: 39px;
  height: 39px;
  font-family: WorkSans-thin;
  font-size: 36px;
  line-height: 1px;
  border-radius: 2px;
  border: solid 1px $bordercolor;
  background: transparent;
  padding: 0;
  color: #4d4d4d;
  overflow: hidden;
  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}
.quantity{
  width: 59px;
  font-size: 16px;
  line-height: 2.25;
  text-align: center;
  color: $colortext;
}
.price{
  min-width: 70px;
  margin-left: 44px;
  font-family: Avalon-Bold;
  font-size: 20px;
  line-height: 2;
  color: #000000;
}
.singlePrice{
  margin-top: 10px;
  font-size: 11px;
  line-height: 1.8;
  color: $colortext;
}
.form{
  max-width: 242px;
  height: 51px;
  margin-top: 45px;
  position: relative;
  border-radius: 2px;
  border: solid 1px $bordercolor;
  overflow: hidden;
  &:after{
    content: '\25bc';
    position: absolute;
    right: 10px;
    top: 19px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    font-size: 15px;
    color: #262626;
    pointer-events: none;
    opacity: 0.56;
  }
}
select::-ms-expand {
  display: none;
}
.formItem{
  width: 100%;
  height: 51px;
  font-size: 16px;
  line-height: 1.64;
  color: #4d4d4d;
  border: 0;
  outline: none;
  padding: 14px 0 14px 20px;
  appearance: none;
}