.total{
  margin-top: 59px;
  margin-right: 65px;
  margin-bottom: 59px;
  align-self: flex-end;
  font-family: Avalon-Bold;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.14;
  text-align: left;
  color: #000000;
}

.container{
  display: flex;
  flex-direction: column;
}