.total{
  margin: 59px 65px 59px 0;
  align-self: flex-end;
  font-family: Avalon-Bold;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.14;
  text-align: left;
  color: #000000;
}

.container{
  display: flex;
  flex-direction: column;
}